# Visual Studio
.vs/
*.user
*.userosscache
*.suo
*.suo.*
*.cache
*.ilk
*.log
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp_proj
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc


# Build results
tools/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
/KNL_NL_Coding-Challenge_SFMovies.Server/obj/Debug/net9.0/KNL_NL_Coding-Challenge_SFMovies.Server.AssemblyInfo.cs
/KNL_NL_Coding-Challenge_SFMovies.Server/obj/Debug/net9.0/KNL_NL_Coding-Challenge_SFMovies.Server.AssemblyInfoInputs.cache
